body{
    background-color: #928b8bbb;
}
.meme-generator{
    font-family: Georgia, sans-serif;
    text-align: center;
}
.meme-generator img{
    height:470px;
    object-fit: cover;
}
.meme-generator .generate-meme-butn{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: #000000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.meme-generator .generate-meme-butn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #00d9ffbc;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.meme-generator .generate-meme-butn:hover{
    color:#e8e8e8
}
.meme-generator .generate-meme-butn:hover::before{
    width: 100%;
}

.meme-generator .meme-author{
    margin:7px;
}